body {
    font-family: roboto;
    background-color: #1F2937;
}
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
}
header {
    background-color: #1F2937;
    color: #ffffff;
}
.header {
    background-color: #1F2937;
    color: #ffffff;
}
.hero {
    background-color: #1F2937;
    color: #ffffff;
}
h1 {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
}
p {
    font-size: 18px;
    color: #E5E7EB;
}
button {
    background-color: #3882F6;
    color: #ffffff;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid;
}
h2 {
    font-weight: 900;
    font-size: 36px;
    color:#1F2937;
}
.quote {
    background-color: #E5E7EB;
}
.pquote {
    font-size: 36px;
    font-style: italic;
    color:#1F2937
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline;
    margin-left: 10px;
}

.header .hero {
    margin: 0;
}
.button1 {
    margin-top: 10px;
}
.info {
    background-color: #F9FAF8;
    padding: 70px;
}
.card {
    max-width: 200px;
}
.textsignup {
    font-weight: 900;
    color:#F9FAF8
}
.signupbelow {
    font-weight: 100;
    color:#E5E7EB;
}

.imglost {
    background-color: #4a4a4a;
    padding: 135px 350px;
    margin-top: 20px
}



/**FLEX**/

.header {
    width: min(100%, 1440px);
    margin-inline: auto; 
    display: flex;
    justify-content: flex-start;  
    align-items: center; 
    gap: 50px;
    padding: 15px 0px;
    margin-bottom: 75px;
}
 .logo {
    margin-right: auto;
 }
.hero {
    width: min(100%, 1440px);
    margin-inline: auto; 
    display: flex;
    justify-content: flex-start;  
    align-items: center; 
    gap: 100px;
    padding-bottom: 100px;
}
.heroleft .heroright {
    display: flex;
}
.herotitle {
    display: flex;
    max-width: 400px;
    margin-bottom: 0;
}
.herotext {
    display: flex;
    max-width: 400px;
}




.infoheader {
    display: flex;
    justify-content: center;
}
.row {
    display: flex;
    justify-content: center;
    gap: 52px;
    align-items: center;
  }
  .textunder {
        max-width: 150px;
        display: flex;
        text-align: center;
  }

  .pquote {
    display:flex;
    max-width:825px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .quote {
    display: flex;
    padding: 120px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .source {
    display: flex;
    display:flex;
    align-items: end;
    flex-wrap: wrap;
    font-weight: 800;
    margin-left: -150px;
  }



  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    padding: 20px;
    padding-bottom: 10px;
  }
  .signup {
    display: flex;
    justify-content: space-around;
    padding: 100px;
    background-color: #F9FAF8
  }
  .hmm {
    display: flex;
    background-color: #3882F6;
    align-items: center;
    gap: 50px;
    padding: 50px;
    border-radius: 10px;

  }